@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}



h2{
    padding: 1rem 2rem;
}

.header-container{
    width: 100%;
    background: #000;
    padding: 2rem  5rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.header-container h1{
    color: #fff;
    font-size: 2.5rem;
}

.header-container .box-btn{
    display: flex;
    justify-content: space-between;
}

.box-btn .btn-logout{
    width:160px;
    border: 3px solid transparent;
    outline: none;
    border-radius: 10px;
    padding: .3rem 0;

    background: #8b0000ea;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .2rem;
    text-transform: uppercase;

    transition: .5s ease-in-out;
}

.box-btn .btn-logout:hover{
    border: 3px solid #fff;
}


.container-projeto{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background:rgb(223, 215, 215);
    
}

button {
    background-color: #fdfdfd;
    
    border: 2px solid #102f5e;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    transition: 0.4s;
  }
  
  button:hover {
    background-color: #0ef;
  }
  
  button:hover > i {
    color: #fff;
  }
  
  button i {
    pointer-events: none;
    color:#0ef;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  input,
  select {
   width: 100%;
   padding: .6rem ;

  
  }

  select option{
    font-weight: bold;
    font-size: 1rem;
  }
  
  .hide {
    display: none;
  }
  
  /* Todo Header */
  .conteudo-todo {
    max-width: 650px;
    width: 800px;
    /* margin: 3rem auto 0; */
    background-color: #423e3e;
    padding: 1.5rem;
    border-radius: 15px;
  }
  
  .conteudo-todo .header {
   
    padding: 0 1rem 1rem;
    
  }

  .conteudo-todo .header h1{
     text-align: center;
     color: #ccc;
     
  }
  
  /* Todo Form */
  #todo-form,
  #edit-form {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
  }
  
  #todo-form p,
  #edit-form p {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #ccc;
  }
  
  .form-controle {
    display: flex;
  }
  
  .form-controle input {
    margin-right: 0.3rem;
  }
  
  #cancel-edit-btn {
    margin-top: 1rem;
    color: #8b0000cc;
  }

  #cancel-edit-btn:hover {
    color: #fff;
    background: #8b0000cc;
  }
  
  
  /* Todo Toolbar */
  #toolbar {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
  
  }
  
  #toolbar h4 {
    margin-bottom: 0.5rem;
  }
  
  #search {
    border-right: 1px solid #ddd;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
  }

  #search h4{
    color: #fff;
  }
  
  #search form {
    display: flex;
  }
  
  #search input {
    width: 100%;
    margin-right: 0.3rem;
  }
  
  #filter {
    width: 35%;
    display: flex;
    flex-direction: column;
  }

  #filter h4{
    color: #fff;
  }
  
  #filter select {
    flex: 1;
  }
  
  /* Todo List */
  .todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1rem;
    border-bottom: 1px solid #ddd;
    transition: 0.3s;
  }
  
  .todo h3 {
    flex: 1;
    font-size: 1rem;
    color: #fff;
  }
  
  .todo button {
    margin-left: 0.4rem;
  }
  
  .done {
    background: #395169;
  }
  
  .done h3 {
    color: #f4eded;
    text-decoration: line-through black;
    font-style: italic;
  }



